* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}
  
*:focus {
    outline: none;
}

body{
    background-color: #262626;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.main-wrapper{
    overflow: hidden;
}

.main-nav{
    display: flex;
    background-color:#191919;
    height: 5em;
}

.main-nav .search-div{
    display: none;
}

#nav-bar{
    display: none;
    margin-top: 5em;
    background-color: #191919;
    position: absolute;
    right: 0;
    width: 15em;
    box-shadow: 0 3px 6px rgba(18,18,18,.5);
   }

#nav-bar a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
    font-size: 1.8em;
}



/* Harmburger Styling */

.harmburger {
    display: inline-block;
    cursor: pointer;
    
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 1em 0 0.2em 10em;
    transition: 0.4s;
}
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
}
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.main-nav h1{
    margin: 1em 0 0.5em 1em;
    color: #1db3ae;
}

#movie{
    color: #1db3ae;
}

.banner{
    background-image: url(./images/bloodshot2.jpg);
    background-size: 100%;
    background-size: cover;
    height: 25em;
    image-rendering: -webkit-optimize-contrast;
}

.banner-txt {
    padding-top: 4em;
    margin: 0 0 0.5em 1em;
}

.banner-para{
    padding-left:2em;
    font-size: 1.2em;
}

#big-deal{
    padding-left: 3em;
}

.now-playing{
    margin: 3em 1em;
    background-color: #191919;
    padding-left: 1em;
}

.now-playing img{
    text-align: right;
}

.now-playing-text{
margin-left: .3em;
}

.dash{
    display: flex;
    padding-top: 2em;
}

.short-dash{
    width: 35px;
    height: 2.5px;
    background-color: white;
    margin-top: 0.8em;
}

.sort{
    margin-top: 2em;
}

#sort-by{
    width: 90%;
    height: 3em;
    border-radius: 5px;
    margin-top: 1em;
    background-color: #1db3ae;
    margin-bottom:2em ;
}

.search-movie{
    margin-top: 1.5em;
    margin-left: 1.7em;
    margin-bottom: 3em;
    margin-right: 4em;
    border: none;
    outline: none;
    height: 3em;
    width: 20em;
    text-align: left;
    letter-spacing: 0;
    border: 1px solid rgb(29, 179, 174);
    background: rgb(32, 32, 32);
    color: #fff;
    padding-left: 1em;
}

#search-button{
    cursor: pointer;
}

/* trailer styles */
.movie-trailer{
    display: none;
}

.showing{
    display: block;
}

.trailer-button, .close-button{
    border: none;
}

.close-button{
    position: absolute;
    width: 50px;
    height: 50px;
    /* right: 10px;
    top: 10px; */
    font-size: 30px;
    border: none;
    color: #fff;
    outline: none;
    margin-left: 10em;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

/* 
Card Styles */
.movie-gallery{
    margin: 2em 1em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: minmax(100px,auto);
    grid-column-gap: .4em;
    grid-row-gap: .7em;
}

/* .movie-item{
    background-color:#262626 ;
} */

.movie-gallery img{
    height: 150px;
    width: 100%;
}

.movie-gallery p{
    margin-left: 1em;
    margin-top: .5em;
}

.second-para{
    padding-top: 1em;
    margin-bottom: 1em;
    padding:5px;
    display: block;
    /* position: absolute; */
    bottom: 5px;
}

.movie-item {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    transition: 0.3s;
}
  
  /* On mouse-over, add a deeper shadow */
.movie-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,20);
}
  
/* Movie Details Styles */
.big-card{
    margin-left: .5em;
    margin-top: 3em;
    box-shadow: 1px 3px 15px rgba(0,0,0,.5);
    background-color: rgb(25, 25, 25);
    width: 98%;
    padding: 1em;
}

#movie-img{
    height: 300px;
    object-fit: cover;
    width: 100%;
}

#movie-title{
    color: #1db3ae;
    margin-top: 2em;
    font-size: 1.5em;
}

#release-date{
    margin-top: 1em;
    margin-bottom: 1em;
}

#website{
    margin-top: 1em;
}

#overview{
    margin-top: 1em;
}

#movie-overview{
    line-height: 2;
}

button{
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 17px;
    padding: 12px 18px;
    border-radius: 30px;
    outline: none;
    margin-top: 10px;
}

#genre{
    margin-top: 1em;
    font-size: 1.4em;
    color: #1db3ae;
    margin-bottom: 1em;
}

#similar{
    border: 1px solid #1db3ae;
    color: #1db3ae;
    margin-left: 5em;
}

.movie-gallery h2{
    grid-column: 1/4;
    text-align: center;
    font-size: 2em;
    padding-bottom:1em;
    font-weight: 400;
}

footer{
    background-color: #1db3ae;
    padding: 2em;
    text-align: center;
}

footer h2{
    margin-bottom: 1em;
}

footer ul{
    list-style-type:none ;
}

footer li{
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 1em;
}

.heart{
    color: red;
}

/* Media Queries */
@media (min-width:1024px) { /* big landscape tablets, laptops, and desktops */
    .main-nav{
    height: 80px;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #191919;
    box-shadow: 0 3px 6px rgba(19,19,19,.2);
    transition: all .5s ease;
    }

    .harmburger{
        display: none;
    }

    .main-nav .search-div{
        padding-top: 3em;
        margin-top: .5em;
        display: block;
    }

    .banner{
        background-image: url("http://image.tmdb.org/t/p/original//xnjvwfDulnOCy8qtYX0iqydmMhk.jpg");
        background-size: 100%;
        background-size: cover;
        /* height: 25em; */
        image-rendering: -webkit-optimize-contrast;
    }

    .banner img{
        object-fit: cover;
    }

    #big-deal{
        padding: 0;
    }

    .banner h1{
        font-size: 3.5em;
        text-align: center;
        line-height: 50%;
    }

    .banner-para{
        font-size: 22px;
        padding: 10px;
        text-align: center;
    }
    
    .large-screen{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .movie-gallery{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
        /* grid-gap: 20px;
        gap: 20px; */
        grid-column: 2/-1;
        /* margin: 50px auto auto; */
        min-height: 100vh
    }

    .movie-item{
        transform: translateY(50px);
        background: #161616;
        box-shadow: 1px 3px 6px rgba(0,0,0,.5);
        height: 80%;
        flex-direction: column;
        padding: 10px 10px 60px;
    }

    .movie-item img{
        object-fit: cover;
        /* width: 100%; */
        height: 80%;
    }

    .main-nav-details{
        margin-bottom: 2em;
    }

    .big-card{
        margin-top: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.5) 1px 3px 15px;
        margin: auto;
        min-height: 100vh;
    }

    .image-container img{
        width: 100%;
        margin-left: 5em;
    }

    .now-playing{
        height: 100%;
    }

    #movie-img{
        margin-left: 0;
        height: 100%;
    }

    .container{
        padding: 30px;
        justify-content: center;
        align-items: start;
    }

    footer{
        grid-column: 1/4;
    }
}